/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

/* Variables */
:root {
  --primary-color: #f3eee0;
  --secondary-color: #f1bbba;
  --secondary-color-2: #eb9f9f;

  --text-color: #8d8479;
  --text-color-highlight: #d9cbb9;

  --grey: #999;
  --grey-light: rgb(211, 211, 211);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

button,
input[type='submit'],
input {
  font-family: inherit;
  cursor: pointer;
  border: 0;
}

button:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

.heading-1 {
  font-size: 3.5rem;
}

.heading-2 {
  font-size: 2.5rem;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 60rem;
}

.home__door {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.home__door-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  color: #fff;
  padding: 1rem 2rem;
}

.home__door-img {
  width: 90%;
}

.home__instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}

.icon--corner-right-down {
  margin-top: 1.15rem;
  margin-left: 0.2rem;
}

/* Navigation */
.navigation {
  background-color: var(--primary-color);
  width: 100%;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation::after {
  content: '';
  position: absolute;
  top: 99%;
  left: 0;
  height: 8rem;
  width: 100%;
  background-image: url(./img/waves.svg);
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 1;
}

.navigation__header {
  font-family: 'Lobster', 'sans-serif';
  margin-top: 2rem;
  letter-spacing: 5px;
  flex: 1;
  text-align: center;
}

.navigation__list {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.navigation__list-item {
  margin-right: 4rem;
}

.nav__container {
  width: 100%;
  position: relative;
}

.nav__background {
  color: #fff;
  background-color: var(--text-color);
  border-radius: 10px;
  border-style: 15px dashed red;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.nav__background::before {
  content: '\\';
  position: absolute;
  top: -70px;
  left: 23px;
  font-size: 8rem;
  color: var(--text-color);
  transform: scale(1rem);
}

.nav__background::after {
  content: '/';
  position: absolute;
  top: -70px;
  right: 23px;
  font-size: 8rem;
  color: var(--text-color);
}

.nav__meal {
  justify-content: space-evenly;
}

.nav__meal-item > a {
  color: #fff;
  font-size: 2.5rem;
}

/* Sign Up && Log In */
.form-container {
  margin: 18rem 0 10rem;
  padding: 3rem;
  width: 50rem;
}

.signup__header,
.login__header,
.login__direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.8rem;
}

.signup__header-heading,
.login__header-heading {
  margin: 1rem 0;
}

.signup__header-link,
.login__header-link {
  color: var(--text-color-highlight);
  border-bottom: groove;
  margin-left: 1rem;
  text-transform: uppercase;
}

.signup__group,
.login__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup__label,
.login__label {
  font-size: 1.9rem;
  margin-bottom: 0.1rem;
}

.signup__input,
.login__input {
  border: 3px solid var(--text-color-highlight);
  height: 3.5rem;
  font-size: 1.9rem;
  padding: 1.5rem 1rem;
}

.signup__button,
.login__button {
  width: 100%;
  font-size: 2rem;
  padding: 0.8rem;
  color: white;
  background-color: var(--text-color);
  margin-top: 1rem;
}

.login__direction {
  margin-top: 2.3rem;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  height: 5rem;
  border-top: 4px solid var(--text-color-highlight);
  margin-top: -6px;
  z-index: 1;
}

.footer__img {
  width: 3rem;
}

/* Error */
.errorWrapper {
  margin-top: 0.8rem;
  background-color: var(--secondary-color);
  border-radius: 0.3rem;
}

.error {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.9rem;
}

/* Meal */
.meal {
  width: 90rem;
  margin: 20rem 0 8rem;
}

.meal__container {
  margin-top: 1.5rem;
  padding: 1.2rem 0;
  display: grid;
  gap: 5rem 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* Meal Filter */
.meal__search-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.meal__search-input {
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;
  width: 100%;
  height: 4.5rem;
  border: 2px solid var(--text-color);
  border-radius: 50px;
}

.meal__search-input:hover,
.meal__search-input:focus {
  box-shadow: 0 0 3px 2px var(--grey-light);
}

.meal__search-btn {
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 0.7rem;
  position: absolute;
  transform: translate(-20%, -50%);
  top: 50%;
  right: 0;
}

/* Meal Item */
.meal__item {
  display: flex;
  flex-direction: column;
  width: 27rem;
  padding: 1rem 1.2rem;
  justify-self: center;
  box-shadow: 2px 2px 5px 1px var(--grey-light);
}

.meal__item-name {
  text-align: center;
}

.meal__item-img {
  width: 24.5rem;
  margin: 1.7rem 0 1.5rem;
  background-color: #f0ead8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.meal__item-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.meal__item-likeCount {
  font-size: 1.5rem;
  background-color: var(--secondary-color-2);
  color: #fff;
  border-radius: 50px;
  padding: 0.1rem 1rem;
}

.meal__item-likeBtn {
  margin-left: 0.3rem;
  display: flex;
  background-color: transparent;
}

.meal__item-userInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.meal__userInfo-user {
  font-size: 1.8rem;
}

.meal__userInfo-createdAt {
  font-size: 1.1rem;
}

.meal__item-ingredients {
  font-size: 1.5rem;
  flex: 1;
}

.meal__item-ingredients span {
  display: block;
  margin: 0.9rem 0.5rem;
  border-bottom: 1px solid var(--grey-light);
}

.meal__item-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.meal__item-tags > svg {
  margin-left: 1rem;
}

/* Planner */
.planner {
  width: 110rem;
  margin: 20rem 0;
}

.planner__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem 0;
}

.planner__item,
.planner__form {
  width: 30rem;
  height: 30rem;
  border: 1px solid black;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.planner__form {
  grid-row: 1 / span 2;
  height: 100%;
}

.planner__form-input {
  border-bottom: 1px solid var(--text-color-highlight);
}
