/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

/* Variables */
:root {
  --primary-color: rgb(243, 238, 224);
  --secondary-color: #f1bbba;
  --secondary-color-2: #eb9f9f;

  --text-color: #8d8479;
  --text-color-highlight: rgb(217, 203, 185);

  --grey-dark: #777;
  --grey: #999;
  --grey-light: rgb(211, 211, 211);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

button,
input[type='submit'],
input {
  font-family: inherit;
  cursor: pointer;
  border: 0;
}

button:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

.heading-1 {
  font-size: 3.5rem;
}

.heading-2 {
  font-size: 2.5rem;
}

select {
  padding: 0.3rem 0;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 60rem;
}

.home__door {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.home__door-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  border-radius: 10px;
  color: #fff;
  padding: 1rem 2rem;
}

.home__door-img {
  width: 90%;
}

.home__instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
}

.icon--corner-right-down {
  margin-top: 1.15rem;
  margin-left: 0.2rem;
}

/* Navigation */
.navigation {
  background-color: var(--primary-color);
  width: 100%;
  position: relative;
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation::after {
  content: '';
  position: absolute;
  top: 99%;
  left: 0;
  height: 8rem;
  width: 100%;
  background-image: url(./img/waves.svg);
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 2;
}

.navigation__header {
  font-family: 'Lobster', 'sans-serif';
  margin-top: 3rem;
  letter-spacing: 5px;
  flex: 1;
  text-align: center;
}

.navigation__list {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.navigation__list-item {
  margin-right: 4rem;
}

.nav__container {
  width: 100%;
  position: relative;
}

.nav__background {
  color: #fff;
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.nav__background::before {
  content: '\\';
  position: absolute;
  top: -70px;
  left: 23px;
  font-size: 8rem;
  color: var(--text-color);
}

.nav__background::after {
  content: '/';
  position: absolute;
  top: -70px;
  right: 23px;
  font-size: 8rem;
  color: var(--text-color);
}

.nav__meal {
  justify-content: space-evenly;
}

.nav__meal-item {
  position: relative;
}

.nav__meal-item > a {
  color: #fff;
  font-size: 2.5rem;
  display: inline-block;
  height: 100%;
}

.nav__submenu {
  width: max-content;
  position: absolute;
  top: 5rem;
  left: -5rem;
}
.nav__submenu-item {
  margin: 1rem;
  background-color: var(--text-color);
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  position: relative;
}

.nav__submenu-item > a {
  color: #fff;
  font-size: 2.2rem;
  padding: 1rem 1.2rem;
}

.nav__submenu-item:before {
  content: '\\';
  position: absolute;
  top: -50px;
  left: 23px;
  font-size: 50px;
  color: var(--text-color);
  transform: scale(1rem);
  z-index: -1;
}

.nav__submenu-item:after {
  content: '/';
  position: absolute;
  top: -50px;
  right: 23px;
  font-size: 50px;
  color: var(--text-color);
  z-index: -1;
}

/* Sign Up && Log In */
.form-container {
  margin: 18rem 0 10rem;
  padding: 3rem;
  width: 50rem;
}

.signup__header,
.login__header,
.login__direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.8rem;
}

.signup__header-heading,
.login__header-heading {
  margin: 1rem 0;
}

.signup__header-link,
.login__header-link {
  color: var(--text-color-highlight);
  border-bottom: groove;
  margin-left: 1rem;
  text-transform: uppercase;
}

.signup__group,
.login__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup__label,
.login__label {
  font-size: 1.9rem;
  margin-bottom: 0.1rem;
}

.signup__input,
.login__input {
  border: 3px solid var(--text-color-highlight);
  height: 3.5rem;
  font-size: 1.9rem;
  padding: 1.5rem 1rem;
}

.signup__button,
.login__button,
.form__button {
  width: 100%;
  font-size: 2rem;
  padding: 0.8rem;
  color: white;
  background-color: var(--text-color);
  margin-top: 1rem;
}

.login__direction {
  margin-top: 2.3rem;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  height: auto;
  border-top: 4px solid var(--text-color-highlight);
  margin-top: -6px;
  z-index: 1;
  font-size: 1.5rem;
  padding: 1rem;
}

.footer svg {
  margin: 0.8rem;
  vertical-align: middle;
}

.footer__img {
  width: 3rem;
}

.footer__wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

.footer__email {
  margin: 0 0 0 2rem;
  display: flex;
  align-items: center;
}

/* Error */
.errorWrapper {
  margin-top: 0.8rem;
  background-color: var(--secondary-color);
  border-radius: 0.3rem;
}

.error {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.9rem;
}

.form__error > .error {
  font-size: 2rem;
  text-align: center;
}

/* Meal */
.meal {
  width: 80%;
  margin: 20rem 0 8rem;
}

.meal__container {
  margin-top: 1.5rem;
  padding: 1.2rem 0;
  display: grid;
  gap: 5rem 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* Meal Filter */
.meal__search-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.meal__search-input {
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;
  width: 100%;
  height: 4.5rem;
  border: 2px solid var(--text-color);
  border-radius: 50px;
}

.meal__search-input:hover,
.meal__search-input:focus {
  box-shadow: 0 0 3px 2px var(--grey-light);
}

.meal__search-btn {
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 0.7rem;
  position: absolute;
  transform: translate(-20%, -50%);
  top: 50%;
  right: 0;
}

/* Meal Item */
.meal__item {
  display: flex;
  flex-direction: column;
  width: 27rem;
  padding: 1rem 1.2rem;
  justify-self: center;
  box-shadow: 2px 2px 5px 1px var(--grey-light);
}

.meal__item-name {
  text-align: center;
}

.meal__item-img {
  width: 24.5rem;
  height: 20rem;
  object-fit: cover;
  margin: 1.7rem 0 1.5rem;
  background-color: var(--text-color-highlight);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

img[src='/static/media/spoon.dcfea6c0.png'] {
  object-fit: contain;
}

.meal__item-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.meal__item-likeCount {
  font-size: 1.5rem;
  background-color: var(--secondary-color-2);
  color: #fff;
  border-radius: 50px;
  padding: 0.1rem 1rem;
}

.meal__item-likeBtn {
  margin-left: 0.3rem;
  display: flex;
  background-color: transparent;
}

.meal__item-imgContainer {
  position: relative;
}

.meal__item-addBtn {
  position: absolute;
  right: 1rem;
  bottom: 2.2rem;
  background-color: transparent;
}

.meal__item-userInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.meal__userInfo-user {
  font-size: 1.8rem;
}

.meal__userInfo-createdAt {
  font-size: 1.1rem;
}

.meal__item-ingredients {
  font-size: 1.5rem;
  flex: 1;
}

.meal__item-ingredients span {
  display: block;
  margin: 0.9rem 0.5rem;
  border-bottom: 1px solid var(--grey-light);
}

.meal__item-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.meal__item-tags > svg {
  margin-left: 1rem;
}

/* Planner Item */
.planner__item {
  width: 30rem;
  height: 45rem;
  justify-self: center;
  overflow-y: scroll;
}

.planner__item-border {
  width: 30rem;
  height: 100%;
  padding: 1.2rem;
  border: 3px solid;
  border-radius: 10px;
}

.mon {
  border-color: #dfc3b7;
}

.tue {
  border-color: #f5e5c9;
}

.tue > legend {
  text-align: center;
}

.wed {
  border-color: #d5dcac;
}

.wed > legend {
  text-align: right;
}

.thur {
  border-color: #ebeec4;
}

.thur > legend {
  text-align: right;
}

.fri {
  border-color: #b5cebf;
}

.sat {
  border-color: #cedcc7;
}

.sat > legend {
  text-align: center;
}

.sun {
  border-color: #a8c1c6;
}

.planner__item-heading {
  padding: 0 1.3rem;
}

.planner__item-createdAt {
  font-size: 1.2rem;
  margin-left: auto;
}

.planner__item-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;

  width: 100%;
  height: 100%;
}

.planner__item-imgContainer {
  position: relative;
}

.planner__item-minusBtn,
.planner__item-updateBtn {
  background-color: transparent;
}

.planner__item-minusBtn {
  align-self: flex-end;
  margin: -1rem 1rem 0.5rem;
}

.planner__item-updateBtn {
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.planner__item-img {
  width: 27rem;
  height: 20rem;
  object-fit: cover;
  background-color: #f0ead8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.planner__item-name {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.planner__item-ingredients {
  font-size: 1.5rem;
  flex: 1;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.planner__item-ingredients span {
  display: block;
  margin: 0.9rem 0.5rem;
  border-bottom: 1px solid var(--grey-light);
}

.planner__item-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.planner__item-tags > svg {
  margin-left: 1rem;
}

/* Planner Form */
.planner {
  width: 85%;
  margin: 18rem 0;
}

.planner__week {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.planner__week-btn {
  background-color: transparent;
  font-size: 2rem;
  color: var(--text-color);
  padding: 0.5rem 0.1rem 0.2rem;
  margin: 1rem;

  border-bottom: 2px solid var(--text-color);
  transition: all 0.2s;
}

.planner__week-btn > span {
  margin: 3px;
  transition: margin 0.2s;
}

.planner__week-btn:hover {
  color: var(--grey-dark);
  border-bottom: 2px solid var(--grey-dark);
}

.planner__week-btn:first-of-type:hover > span {
  margin-right: 8px;
}

.planner__week-btn:nth-of-type(2):hover > span {
  margin-left: 8px;
}

.planner__week-heading {
  font-size: 3rem;
  margin: 0 1rem;
  text-align: center;
}

.planner__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem 3.3rem;
}

.planner__form {
  grid-row: 1 / span 2;
  height: 100%;
  justify-self: center;
}

.planner__form-clearBtn {
  background-color: var(--text-color);
  color: #fff;
  padding: 0.3rem 0.9rem 0.3rem 0.7rem;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  align-items: center;
  font-size: 1.7rem;
}

.planner__form-border {
  width: 30rem;
  height: auto;
  padding: 1.2rem;
  border: 2px solid var(--text-color);
  border-radius: 10px;
}

.planner__form-heading {
  text-align: center;
  padding: 0 1.3rem;
}

.planner__form-input {
  border-bottom: 2px solid var(--text-color-highlight);
  padding: 0 0 0.3rem;
  font-size: 1.8rem;
  width: 100%;
}

.planner__form-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planner__input-container {
  position: relative;
}

.planner__form-group {
  position: relative;
  margin: 1rem 0 0;
}

.planner__form-groupInput {
  margin: 2rem 0;
  width: 80%;
}

.planner__form-groupRadio {
  margin: 2rem 0 1rem;
}

.planner__form-radioLabel,
.planner__form-selectLabel {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.planner__form-inputAdd {
  position: absolute;
  background-color: transparent;
  bottom: 0.3rem;
  right: 0;
}

.planner__form-array {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: 1.2rem;
  width: 100%;
  height: 12rem;
  padding: 0.5rem 0.7rem;
  border-left: 3px solid var(--text-color-highlight);
  background-color: rgba(217, 203, 185, 0.2);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.planner__form-array > span {
  display: block;
}

input[type='file'] {
  padding: 0.5rem 0.8rem;
  margin: 1rem 0 1.5rem;
}

input[type='file']::before {
  content: 'Upload Image';
  position: absolute;
  top: 12px;
  left: 6px;
  padding: 0.5rem 0.2rem;
  background-color: #fff;
  border: 1px solid var(--grey);
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
}

/* Show all MealPlanner */
.myMeals {
  width: 80%;
  margin: 24rem 5rem 10rem;
}

.myMeals__container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
}

.myMeals__heading,
.favorites__heading {
  font-size: 3rem;
  text-align: center;
}

.myMeals__item {
  width: 80%;
  justify-self: center;
  box-shadow: 2px 2px 5px 1px var(--grey-light);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30rem;
  justify-items: center;
}

.myMeals__item-imgContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 238, 224, 0.5);
}

.myMeals__item:nth-child(even) > .myMeals__item-imgContainer {
  grid-row: 1;
  grid-column: 2 / -1;
}

.myMeals__item-img,
.favorites__modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myMeals__item-group,
.favorites__modal-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0.5rem 1.2rem;
}

.myMeals__item-name,
.favorites__modal-name {
  margin: 1.5rem 0 1rem;
  text-shadow: 2px 2px var(--primary-color);
  letter-spacing: 0.1rem;
}

.myMeals__item-info,
.favorites__modal-info {
  font-size: 1.35rem;
  margin-left: auto;
}

.myMeals__item-ingredients,
.favorites__modal-ingredients {
  flex: 1;
  font-size: 1.5rem;
  width: 80%;
  line-height: 3rem;
  margin: 1.2rem 0;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.myMeals__item-ingredients > span,
.favorites__modal-ingredients > span {
  display: block;
}

.myMeals__item-tags,
.favorites__modal-tags {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: flex-end;
}

.myMeals__tags-container,
.favorites__modal-container {
  font-size: 1.25rem;
  margin-left: 0.8rem;
}

/* Favorites */
.favorites {
  width: 80%;
  margin: 20rem 0 8rem;
}

.favorites__heading {
  grid-column: 1 / -1;
}

.favorites__container {
  display: grid;
  margin: auto;
  width: 90%;

  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: 30rem;
  gap: 3rem;
}

.favorites__container .loader__container {
  grid-column: 1 / -1;
}

.favorites__item {
  width: 100%;
  justify-self: center;
  height: 100%;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.favorites__item-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.favorites__item-delete > button {
  background-color: #fff;
  border-radius: 20%;
}

.favorites__item-delete > button > svg {
  display: flex;
}

.favorites__item:hover .favorites__item-likeCount {
  display: flex;
}

.favorites__item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.favorites__item:hover .favorites__item-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.favorites__item-imgContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.favorites__item-likeCount {
  position: absolute;
  display: none;
  align-items: center;
  top: 50%;
  left: 50%;
  font-size: 1.9rem;
  margin-right: 1rem;
  color: #fff;
}

.favorites__item-likeCount > svg {
  margin-right: 0.7rem;
}

.favorites__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.favorites__item-modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-close {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.modal-open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  pointer-events: auto;
}

.favorites__modal-group {
  position: fixed;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
}

.favorites__modal-name {
  margin-top: 2.5rem;
}

.favorites__modal-info {
  margin-top: 1.4rem;
}

.favorites__modal-item {
  background: white;
  padding: 1.5rem;
}

.favorites__modal-imgContainer {
  background-color: var(--text-color-highlight);
}

.favorites__modal-btn {
  background-color: transparent;
  grid-column: 1 / -1;
  justify-self: end;
}

.favorites__modal-img {
  width: 100%;
}

.favorites__modal-imgUserContainer {
  position: absolute;
  top: 12%;
  left: 1rem;
}

.favorites__modal-imgUser {
  position: relative;
  width: 15rem;
  height: auto;
  background-color: var(--primary-color);
  border: 2px solid var(--text-color);
  border-radius: 10px;
}

.favorites__modal-imgUser:before {
  content: ' ';
  position: absolute;
  left: 29px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 10px solid;
  border-color: var(--text-color) var(--text-color) transparent transparent;
}
.favorites__modal-imgUser:after {
  content: ' ';
  position: absolute;
  left: 27px;
  right: auto;
  top: auto;
  bottom: -15px;
  border: 10px solid;
  border-color: var(--primary-color) var(--primary-color) transparent
    transparent;
}

.favorites__imgUser-name {
  font-size: 1.3rem;
  padding: 1rem 1.3rem;
  text-align: center;
  line-height: 1.4rem;
  font-weight: 900;
}

.favorites__modal-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* API Loader  */
.loader__img {
  width: 17rem;
  margin: auto;
  margin-top: 4rem;
  display: block;
}

.planner .loader__img {
  width: 12rem;
}

/* Media Query */

/* Big Desktop */
@media only screen and (min-width: 112.5em) {
  /* width > 1800px */
  /* 1 rem = 12px, 12/16 = 75% */
  html {
    font-size: 75%;
  }

  .myMeals__item {
    width: 90%;
  }

  .form-container {
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Tab land */
@media only screen and (max-width: 75em) {
  /* width < 1200px */
  /* 1 rem = 9px, 9/16 = 56.25% */
  /* html {
    font-size: 56.25%;
  } */
}

/* Tab port */
@media only screen and (max-width: 56.25em) {
  /*  width < 900px */
  /* 1 rem = 8px, 8/16 = 50% */
  html {
    font-size: 50%;
  }

  .meal__search-container {
    width: 100%;
  }
}

/* Phone */
@media only screen and (max-width: 37.5em) {
  /* width < 600px */
  .nav__background {
    width: 90%;
  }

  .meal__container {
    grid-template-columns: auto;
  }

  .navigation__list {
    flex-direction: column;
    margin-top: 1rem;
    font-size: 3rem;
    align-items: flex-end;
  }

  .navigation__list-item:first-of-type {
    margin-bottom: 0.5rem;
  }

  .nav__meal-item {
    margin: 0 1rem;
  }

  .planner__week-heading > span {
    display: block;
  }

  .myMeals__container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .myMeals__item {
    grid-template-columns: 1fr;
    grid-template-rows: 24rem 30rem;
  }

  .myMeals__item:nth-child(even) > .myMeals__item-imgContainer {
    grid-column: 1;
  }

  .myMeals__info-createdAt {
    margin-right: 0.8rem;
  }

  .myMeals__item-ingredients {
    margin-left: -2.5rem;
  }

  .login__header-link,
  .signup__header-link {
    display: inline-block;
    margin: 1rem 0;
  }

  .favorites__modal-group {
    grid-template-columns: auto;
    grid-template-rows: 10% 45% 45%;
  }

  .favorites__modal-ingredients {
    width: 85%;
  }

  .favorites__modal-ingredients > span {
    border-bottom: 1px solid var(--grey-light);
  }

  .favorites__modal-createdAt {
    margin-right: 0.5rem;
  }
}

/* Small phone */
@media only screen and (max-width: 24em) {
  /* width < 384px */
  .html {
    font-size: 50%;
  }

  .nav__background {
    font-size: 3rem;
  }

  .myMeals__item {
    width: 100%;
  }
}
